body{
  background-color: white;
}
.App{
  background-color: #9266ff;
  border-radius: 10px;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  -webkit-box-shadow: 5px 6px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 5px 6px 11px -1px rgba(0,0,0,0.75);
}
#tambah-agenda input{
  background-color: white;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
}
#tambah-agenda input:focus, #tambah-agenda button{
outline:none;
}
#tambah-agenda button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0px;
  background-color: teal;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
  font-style: oblique;
}
.faicons{
  margin: 0 5px;
  font-size: 15px;
}