.list{
    color: #fff;
    width: 300px;
    background-color: goldenrod;
    list-style: none;
    margin-top: 40px;
    height: 50px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.75);
box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.75);
}

.list li{
    margin-left: 20px;
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
  }
.faicons{
    margin: 0 5px;
    font-size: 15px;
}